version: "3.3"

services:
  db:
    image: postgres:13-alpine
    environment:
      - POSTGRES_DB=miniflux
      - POSTGRES_USER=miniflux
      - POSTGRES_PASSWORD=m1n1f7ux

  reddit-parser:
    build: ./reddit-parser
    container_name: reddit-parser
    restart: always
    environment:
      - PORT=80

  image-digger:
    build: ./image-digger
    container_name: image-digger
    restart: always
    ports:
      - "8033:80"
    environment:
      - PORT=80
      - HOST=${HOST}

  ai-daily-recap:
    build: ./ai-daily-recap
    container_name: ai-daily-recap
    restart: always
    ports:
      - "8032:8032"
    environment:
      - PORT=8032
      - HOST=${HOST}
      - OPENROUTER_API_KEY=${OPENROUTER_API_KEY}

  web:
    image: miniflux/miniflux
    restart: always
    ports:
      - "8034:8080"
    environment:
      - DATABASE_URL=postgres://miniflux:m1n1f7ux@db/miniflux?sslmode=disable
      - RUN_MIGRATIONS=1
      - CREATE_ADMIN=1
      - ADMIN_USERNAME=zorzi
      - ADMIN_PASSWORD=Passclearlsl
    depends_on:
      - db
